*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.add-realty{
    width: 100%;
    position: sticky;
    bottom: 0;
}

.add-realty_button{
    width: 100%;
}

.form-realty{
    width: 500px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

@media all and (max-width: 520px){
    .form-realty{
        width: 400px;
    }
}

@media all and (max-width: 420px){
    .form-realty{
        width: 300px;
    }
}

.form-realty__label{
    display: block;
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 10px;
}

.form-realty__input-block{
    margin-bottom: 15px;
}

.form-realty__input{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: #fff;
    transition: all .4s ease 0s;
    border: none;
}

.form-realty__input-block_row{
    display: flex;
    align-items: center;
}

.form-realty__input-block_row .form-realty__label{
    margin-bottom: 0;
    margin-right: 15px;
}

.form-realty__input:focus{
    outline: none;
    box-shadow: 0px 0px 10px #fff;
}

.form-realty__image-btn{
    cursor: pointer;
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-realty__image-btn::before,
.form-realty__image-btn::after{
    content: '';
    background: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-realty__image-btn::before{
    height: 15px;
    width: 2px;
}

.form-realty__image-btn::after{
    height: 2px;
    width: 15px;
}

.form-realty__create{
    cursor: pointer;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    background: #2853ae;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    transition: all .4s ease 0s;
}

.form-realty__create:hover{
    background: #1d3265;
}

.form-realty__select{
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
}
.form-realty__select:focus{
    outline: none;
}

.form-realty__preview{
    width: 200px;
    height: auto;
    max-height: 200px;
}

.form-realty__preview img {
    max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

[class*='__container']{
    max-width: 1070px;
    padding: 0 15px;
    margin: 0 auto;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 60px;
    padding: 15px 0;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
  width: 50px;
  height: 50px;
}

.header__link{
    position: relative;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
}

.header__link:hover::before{
    width: 100%;
}

.header__link:before{
    position: absolute;
    left: 0;
    content: '';
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: all .4s ease 0s;
}

.header__logo img{
    display: block;
    max-width: 100%;
    transform: scale(2);
}

.main{
    min-height: 100vh;
    background: url('./img/Bg.jpg') center / cover no-repeat fixed;
}