@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

body{
    font-family: Roboto;
}

textarea{
    resize: none;
}

.add-realty{
    width: 100%;
    position: sticky;
    bottom: 0;
}

.add-realty_button{
    margin-left: 15px;
    cursor: pointer;
    padding: 15px 35px;
    background: rgb(22, 22, 96);
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.2rem;
    transition: all .4s ease 0s;
}

.add-realty_button:hover{
    background: rgb(17, 17, 148);
}

.form-realty{
    width: 530px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background: #fff;
    color: #000;
    border-radius: 10px;
}

@media all and (max-width: 560px){
    .form-realty{
        width: 100%;
    }
}

.form-realty__label{
    display: block;
    font-size: 1.2rem;
    color: #000;
    margin-bottom: 10px;
}

.form-realty__input-block{
    margin-bottom: 15px;
}

.form-realty__input{
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #000;
    transition: all .4s ease 0s;
}

.form-realty__input-block_row{
    display: flex;
    align-items: center;
}

.form-realty__input-block_row .form-realty__label{
    margin-bottom: 0;
    margin-right: 15px;
}

.form-realty__input:focus{
    outline: none;
    box-shadow: 0px 0px 10px #fff;
}

.form-realty__image-btn{
    cursor: pointer;
    position: relative;
    display: block;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-realty__image-btn::before,
.form-realty__image-btn::after{
    content: '';
    background: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-realty__image-btn::before{
    height: 15px;
    width: 2px;
}

.form-realty__image-btn::after{
    height: 2px;
    width: 15px;
}

.form-realty__create{
    cursor: pointer;
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    border-radius: 10px;
    background: #2853ae;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1.1rem;
    transition: all .4s ease 0s;
}

.form-realty__create:hover{
    background: #1d3265;
}

.form-realty__select{
    padding: 10px;
    font-size: 1.1rem;
    width: 100%;
}
.form-realty__select:focus{
    outline: none;
}

.form-realty__preview{
    overflow: hidden;
    border-radius: 10px;
    width: 300px;
    height: auto;
    max-height: 300px;
    margin-bottom: 10px;
}

.form-realty__preview img {
    overflow: hidden;
    border-radius: 10px;
    max-width: 100%;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

[class*='__container']{
    max-width: 1070px;
    padding: 0 15px;
    margin: 0 auto;
}

@media all and (max-width: 478px) {
    [class*='__container']{
        padding: 0 10px;
    }
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
}

.header{
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 60px;
    padding: 15px 0;
    transition: all .3s ease 0s;
}

@media all and (max-width: 768px) {
    .header{
        padding: 10px 0;
    }
    .header__logo img{
        transform: scale(1.8);
    }
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo{
  width: 50px;
  height: 50px;
}

.header__list{
    display: flex;
    align-items: center;
}

.header.active{
    background: rgb(22, 22, 96);
}

.header__item{
    margin-left: 20px;
}

.header__link{
    position: relative;
    font-size: 1.1rem;
    color: #fff;
    text-transform: uppercase;
}

.header__link:hover::before{
    width: 100%;
}

@media all and (max-width: 768px) {
    .header__nav{
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 100%;
        padding: 80px 40px;
        background: rgb(22, 22, 96);
        transition: all .4s ease 0s;
        overflow: auto;
    }
    .header__list{
        display: block;
    }
    .header__item{
        margin: 0 0 20px 0;
    }
    .header__link{
        font-size: 2rem;
    }
}

.header__nav.active{
    top: 0;
}

.header__link:before{
    position: absolute;
    left: 0;
    content: '';
    bottom: 0;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: all .4s ease 0s;
}

.header__logo img{
    display: block;
    max-width: 100%;
    transform: scale(2.3);
}

.main{
    min-height: 100vh;
    background: url('./img/Bg.jpg') center / cover no-repeat fixed;
    padding: 120px 0 40px;
    position: relative;
}

@media all and (max-width: 48em){
    .main{
        padding: 80px 0 40px;
    }
}

.main::before{
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000071;
}

.main__body{
    position: relative;
    z-index: 2;
    padding: 70px 0;
}

.main__title{
    color: #fff;
    font-size: 3rem;
    line-height: 120%;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

@media all and (max-width: 30em){
    .main__title{
        font-size: 2rem;
    }
    .main__description{
        font-size: 1rem;
    }
}

.main__body{
    max-width: 700px;
}

.main__description{
    color: #fff;
    line-height: 120%;
    font-size: 1.1rem;
}

.header__link_active{
    color: #20448c;
    font-weight: 700;
}
.header__link_active::before{
    background: #20448c;
    height: 2px;
}

.header_bg{
    background: rgb(22, 22, 96);
}

.main-objects{
    padding: 100px 0 40px;
}

.main-objects__list{
    padding: 30px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.main-objects__item{
    flex: 0 0 50%;
    padding: 0 15px;
    margin-bottom: 30px;
}

@media all and (max-width: 992px) {
    .main-objects__item{
        padding: 0 10px;
        margin-bottom: 20px;
    }
}


@media all and (max-width: 44em) {
    .main-objects__item{
        padding: 0;
        flex: 1 1 100%;
    }
}

.main-objects__body{
    width: 100%;
    cursor: pointer;
    box-shadow: 0px 0px 10px #ccc9c9;
    color: rgb(22, 22, 96);
    transition: all .4s ease 0s;
}

.main-objects__body:hover{
    box-shadow: 0px 0px 10px rgb(22, 22, 96);
}

.main-objects__image{
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}

@media all and (max-width: 992px) {
    .main-objects__image{
        height: 170px;
    }
}

.main-objects__image img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h3{
    font-weight: 500;
}

.main-objects__desc *{
    padding: 5px 0;
}

.main-objects__title{
    text-transform: uppercase;
}

.main-objects__desc{
    padding: 20px 15px;
}

.lock{
    overflow: hidden;
}

.form-realty__input_big{
    resize: none;
    height: 200px;
}

.manage-popup{
    width: 530px;
    padding: 20px;
    background: #fff;
    color: #000;
    border-radius: 10px;
}

@media all and (max-width: 600px){
    .manage-popup{
        width: 100%;
    }
}

.manage-popup__image{
    position: relative;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

@media all and (max-width: 478px){
    .manage-popup__image{
        height: 200px;
    }
}

.manage-popup__image img{
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.manage-popup__button{
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
    background: rgb(22, 22, 96);
    border: none;
    margin-top: 10px;
    transition: all .4s ease 0s;
}

.manage-popup__button:hover{
    background: rgb(36, 36, 191);
}

.manage-popup__title,
.manage-popup__details,
.manage-popup__price,
.manage-popup__square,
.manage-popup__numbers,
.manage-popup__type,
.manage-popup__status{
    padding: 5px 0;
}

.main-manage{
    padding: 120px 0 40px;
}

.main-manage__body{
    display: flex;
    color: rgb(22, 22, 96);
}

.main-manage__image{
    width: 600px;
    height: 420px;
    margin-right: 30px;
    overflow: hidden;
}

.main-manage__image img{
    border-radius: 15px;
    max-width: 100%;
}

.main-manage__title{
    margin-bottom: 40px;
    font-size: 2rem;
    font-weight: 700;
}

.main-manage__desc,
.main-manage__type,
.main-manage__rooms,
.main-manage__status,
.main-manage__price,
.main-manage__square{
    margin-bottom: 15px;
    font-size: 1.3rem;
}

.main-manage__button{
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
    background: rgb(22, 22, 96);
    border: none;
    margin-top: 10px;
    transition: all .4s ease 0s;
}

.main-manage__button:hover{
    background: rgb(36, 36, 191);
}

.form-realty_big{
    width: 630px;
}


.header__burger {
    display: none;
}
  @media all and (max-width: 768px) {
    .header__burger {
      display: block;
      position: relative;
      z-index: 10;
      width: 30px;
      height: 20px;
      transition: all 0.3s ease 0s;
    }
    .header__burger span {
      display: inline-block;
      position: absolute;
      top: 9px;
      width: 100%;
      height: 2px;
      background: #fff;
      transition: all 0.3s ease 0s;
    }
    .header__burger::before, .header__burger::after {
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      transition: all 0.3s ease 0s;
    }
    .header__burger::before {
      top: 0;
    }
    .header__burger::after {
      bottom: 0;
    }
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__burger.active::before {
    top: 9px;
    transform: rotate(45deg);
    background: #fff;
  }
  .header__burger.active::after {
    bottom: 9px;
    transform: rotate(-45deg);
    background: #fff;
  }

.main-manage__timer{
    display: flex;
}

.fields{
    display: flex;
}

.field{
    width: 120px;
    padding: 10px 15px;
    border: 3px groove rgb(15, 15, 54);
    background: rgb(22, 22, 96);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.1rem;
    background: rgb(22, 22, 96);
}

.field span:first-child{
    font-weight: 700;
}

.timer__title{
    font-size: 1.5rem;
    color: rgb(22, 22, 96);
    text-transform: uppercase;
    margin-bottom: 15px;
}

.notification{
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .4s ease 0s;
}

.notification:hover{
    background: #d4d2d2;
}

.notification__numbers{
    position: absolute;
    bottom: 0;
    right: 0;
    color: #fff;
    width: 15px;
    height: 15px;
    background: red;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7rem;
}

.notification-popup{
    padding: 15px;
    width: 550px;
    overflow: auto;
    height: 340px;
    background: #fff;
    border-radius: 10px;
}

.notification-popup__item{
    cursor: pointer;
    margin-bottom: 20px;
    padding: 10px;
}

.notification-popup__item:last-child{
    margin-bottom: 0;
}

.notification-popup__title{
    margin-bottom: 5px;
}

.notification-popup__description{
    font-size: 1rem;
}

.read{
    background: red;
    border-radius: 10px;
    color: #fff;
}